.product-card,
.product-details {
  width: 250px;
  min-height: 400px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #e7e6e6;
}
.product-card > span {
  padding: 0.8rem;
  background-color: #ffffff;
  border-radius: 10px;
}

.product-image {
  display: block;
}

.product-details {
  margin: 1rem auto;
  width: 350px;
}

.product-image-wrapper {
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 10px;
}

.product-title {
  color: #333;
  font-size: 1rem;
  margin: 0.5rem;
}

.product-price {
  color: green;
  font-weight: bold;
  margin: 0.5rem;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  margin: 0.5rem;
}

.quantity-input {
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
}

.add-to-cart {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  width: 290px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.quantity-decrease,
.quantity-increase {
  background-color: #b5b4b4;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  height: 35px;
}
